<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            id="AspectMiningTool.contribution1">
         <action
               class="aspectminingtool.popup.actions.ProjectFilter"
               menubarPath="AspectMiningTool.menu1/group1"
               id="AspectMiningTool.action2"
               label="ProjectFilter">
         </action>
         <action
               class="aspectminingtool.popup.actions.FanInPopUp"
               id="AspectMiningTool.action1"
               menubarPath="AspectMiningTool.menu1/group1"
               label="Fan In Analysis">
         </action>
         <action
               class="aspectminingtool.popup.actions.UniqueMethodPopUp"
               id="AspectMiningTool.action3"
               menubarPath="AspectMiningTool.menu1/group1"
               label="Unique Method Analysis">
         </action>
      </objectContribution>
   </extension>

</plugin>
