<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            id="AspectMiningTool.contribution1">
            <menu
               label="Perform Mining"
               path="additions"
               id="AspectMiningTool.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="aspectminingtool.popup.actions.ProjectFilter"
               menubarPath="AspectMiningTool.menu1/group1"
               id="AspectMiningTool.action2"
               label="ProjectFilter">
         </action>
         <action
               class="aspectminingtool.popup.actions.FanInPopUp"
               id="AspectMiningTool.action1"
               menubarPath="AspectMiningTool.menu1/group1"
               label="Fan In Analysis">
         </action>
         <action
               class="aspectminingtool.popup.actions.UniqueMethodPopUp"
               id="AspectMiningTool.action3"
               menubarPath="AspectMiningTool.menu1/group1"
               label="Unique Method Analysis">
         </action>
         <action
               class="aspectminingtool.popup.actions.FlowGraphPopUp"
               id="aspectminingtool.popup.actions.FlowGraphPopUp"
               label="Flow Graph"
               menubarPath="AspectMiningTool.menu1/group1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="AspectMiningTool.category1"
            name="AspectMiningTool">
      </category>
      <view
            allowMultiple="true"
            category="AspectMiningTool.category1"
            class="aspectminingtool.views.FanIn.ViewPartFanIn"
            id="aspectminingtool.views.ViewPartFanIn"
            name="FanIn Results"
            restorable="true">
      </view>
      <view
            category="AspectMiningTool.category1"
            class="aspectminingtool.views.UniqueMethods.ViewPartUniqueMethods"
            id="aspectminingtool.views.UniqueMethods.ViewPartUniqueMethods"
            name="Unique Methods Results"
            restorable="true">
      </view>
      <view
            category="AspectMiningTool.category1"
            class="aspectminingtool.views.Seeds.ViewPartSeeds"
            id="aspectminingtool.views.Seeds.ViewPartSeeds"
            name="Seeds"
            restorable="true">
      </view>
      <view
            class="aspectminingtool.views.Seeds.ViewPartPrueba"
            id="aspectminingtool.views.Seeds.ViewPartPrueba"
            name="Prueba"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="AspectMiningTool.category1"
            class="aspectminingtool.views.FlowGraph.ViewPartFlowGraph"
            id="aspectminingtool.views.FlowGraph.ViewPartFlowGraph"
            name="Flow Graph Results"
            restorable="true">
      </view>
      <view
            category="AspectMiningTool.category1"
            class="aspectminingtool.views.Seeds.SampleView"
            id="aspectminingtool.views.Seeds.SampleView"
            name="EditorView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:aspectminingtool.views.ViewPartFanIn">
         <command
               commandId="aspectminingtool.commands.CommandShowProjectView"
               icon="images/configure.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:aspectminingtool.views.UniqueMethods.ViewPartUniqueMethods">
         <command
               commandId="aspectminingtool.commands.CommandShowProjectView"
               icon="images/configure.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:aspectminingtool.views.Seeds.ViewPartSeeds">
         <command
               commandId="aspectminingtool.commands.CommandPrintModel"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="aspectminingtool.commands.CommandShowProjectView"
            id="aspectminingtool.commands.CommandShowProjectView"
            name="showProjectView">
      </command>
      <command
            defaultHandler="aspectminingtool.commands.CommandOpenResource"
            id="aspectminingtool.commands.CommandOpenResource"
            name="openResource">
      </command>
      <command
            defaultHandler="aspectminingtool.commands.CommandPrintModel"
            id="aspectminingtool.commands.CommandPrintModel"
            name="printModel">
      </command>
   </extension>

</plugin>
